<main class="main">
  <section class="mainSection">
    <h1 class="title">CompanyAdmin</h1>
    <p class="greeting">Faça seu cadastro !</p>
    <div class="formContainer">
      <form  (submit)="sendRegister($event)" class="loginForm">
        <div class="inputContainer">
          <label for="name">Nome</label>
          <input required class="input" type="name" id="userName" name="userName" />
        </div>
        <div class="inputContainer">
          <label for="email">Email</label>
          <input class="input" type="email" id="userEmail" name="userEmail" />
        </div>
        <div class="inputContainer">
          <label for="cpf">Cpf</label>
          <input required class="input" type="cpf" id="userCpf" name="userCpf" />
        </div>
        <div class="inputContainer">
          <label for="companyId">Digite o ID da empresa</label>
          <input required class="input" type="companyId" id="companyId" name="companyId" />
        </div>
        <button class="sendButton" type="submit">Cadastrar</button>
      </form>
      <div class="divRegister"><a class="linkRegister" routerLinkActive="active"
          routerLink="/">Voltar</a></div>
    </div>
  </section>
</main>
