*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.title{
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center;
}
.greeting{
  margin-bottom: 50px;
  text-align: center;
  font-size: 22px;
}
.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.inputContainer{
  display: flex;
  flex-direction: column;
  width: 200px;
}
.input{
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding-left: 10px;
}
.sendButton{
  margin-top: 30px;
  width: 130px;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
  background-color: white;
  border: 0;
  border-radius: 10px;
}
.divRegister{
  margin-top: 20px;
  text-align: center;
}
.linkRegister{
  color: white;
}
