*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column;
}
.registerCompanyTitle{
  margin-right: 20px;
}
.registerCompany{
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
  gap: 10px;
}
.registerCompanyForm{
  display: flex;
  gap: 10px;
}
.input{
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding-left: 10px;
  margin-left: 10px;
}
.sendButton{
  width: 120px;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
  background-color: white;
  border: 0;
  border-radius: 10px;
}
.showButtons{
  display: flex;
  margin-top: 100px;
  gap: 30px;
}
.showButton{
  padding: 0 20px;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
  background-color: white;
  border: 0;
  border-radius: 10px;
}
table {
  width: 100%; /* Ocupa a largura total */
  border-collapse: collapse; /* Remove espaços entre as bordas das células */
  margin-top: 20px; /* Adiciona uma margem no topo */
}

thead {
  background-color: #f0f0f0; /* Cor de fundo do cabeçalho da tabela */
  color: black;
}

th, td {
  text-align: left; /* Alinha o texto à esquerda */
  padding: 8px; /* Adiciona padding para espaço interno */
  border-bottom: 1px solid #ddd; /* Linha divisória entre as linhas */
}
ul {
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
}

li {
  padding: 2px; /* Espaçamento entre os nomes dos sócios */
}
.linkRegister{
  color: black;
  text-decoration: none;
}
