<main class="main">
  <h1>Bem vindo ao Company Admin</h1>
  <div class="registerCompany">
    <h2 class="registerCompanyTitle">Cadastrar empresa : </h2>
    <form (submit)="sendRegisterCompany($event)" class="registerCompanyForm">
      <div> <label for="name">Nome</label>
        <input class="input" type="text" id="name" name="name" required>
      </div>
      <div><label class="input" for="email">Email</label>
        <input class="input" type="email" id="email" name="email" required>
      </div>
      <div>
        <label for="cnpj">cnpj</label>
        <input class="input" type="text" type="cnpj" id="cnpj">
      </div>
      <button class="sendButton" type="submit">Cadastrar</button>
    </form>
  </div>
  <div class="showButtons">
    <button (click)="getCompanies()" class="showButton">Mostrar Empresas cadastradas</button>
    <button class="showButton"><a class="linkRegister" routerLinkActive="active"
      routerLink="/register">Cadastrar Sócio</a></button>
  </div>
  <div id="companiesTableContainer">
    <table *ngIf="companies.length > 0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>cnpj</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{company.id}}</td>
          <td>{{ company.name }}</td>
          <td>{{ company.email }}</td>
          <td>
            {{ company.cnpj }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
